/* Reseting */
* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Utilities */
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.semi-bold-fw {
    font-weight: 600;
}

.bold-fw {
    font-weight: 900;
}

.rounded-element {
    border-radius: .6rem;
}

/* General */
:root {
    /* gaps */
    --gap-small: 1.4rem;
    --gap-medium: 2.4rem;
    --gap-big: 3.4rem;

    /* colors */
    --dark-elements-color: hsl(209, 23%, 22%);
    --dark-bgc: hsl(207, 26%, 17%);
    --light-text-color: hsl(200, 15%, 8%);
    --light-input-color: hsl(0, 0%, 52%);
    --light-bgc: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --shadow-color: hsl(0deg 0% 80%);

    /* font sizes */
    --fs-small: 1.2rem;
    --fs-medium: 1.4rem;
    --fs-big: 1.8rem;

    font-size: 10px;
}

img {
    width: 100%;
}

body {
    background-color: var(--light-bgc);
    color: var(--light-text-color);
    font-weight: 300;
    font-size: var(--fs-medium);
}

/* header */
header {
    background-color: var(--white);
    box-shadow: 0 0px 12px 0 var(--shadow-color);
    padding-block: var(--gap-big);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container,
main {
    max-width: 1300px;
    margin: 0 auto;
    padding-inline: var(--gap-small);
}

h1 {
    font-size: var(--fs-medium);
}

.swich-mode-button {
    background-color: transparent;
    border: none;
    font-size: var(--fs-small);
    cursor: pointer;
}

.swich-mode-button:hover {
    color: hsla(0, 0%, 0%, 0.6);
}

/* main */
main {
    display: flex;
    flex-flow: column wrap;
    gap: var(--gap-big);
    padding-block: var(--gap-medium);
}

/* inputs */
input[type="search"],
select {
    border: none;
    box-shadow: 1px 1px 6px 0px var(--shadow-color);
    padding: 1.6rem;
}

input[type="search"] {
    width: 100%;
}

select {
    width: 200px;
}

/* main content */
.main-content,
.inputs {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
}

/* cards */
.card {
    background-color: var(--white);
    margin-inline: var(--gap-big);
}

.card img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card h2 {
    font-size: var(--fs-big);
    margin-bottom: var(--gap-small);
}

.card .info {
    padding: var(--gap-medium) var(--gap-medium) var(--gap-big);
    line-height: 1.6;
}

/* Dark mode */
[data-actual-mode="dark"] {
    background-color: var(--dark-bgc);
}

[data-actual-mode="dark"] :is(header, input, select) {
    box-shadow: none;
}

[data-actual-mode="dark"] :is(header, .swich-mode-button, input, select, .card, button, .border-countries button) {
    color: var(--white);
    background-color: var(--dark-elements-color);
}

[data-actual-mode="dark"] :is(input::placeholder, .detail-content) {
    color: white;
}

[data-actual-mode="dark"] .swich-mode-button:hover {
    color: hsla(0, 0%, 100%, 0.8);
}

[data-actual-mode="dark"] .back {
    box-shadow: 1px 1px 6px 2px hsla(0, 0%, 0%, 0.3);
}

[data-actual-mode="dark"] .border-countries button {
    box-shadow: 1px 1px 6px 1px hsla(0, 0%, 0%, 0.3);
}

[data-actual-mode="dark"] .button:hover {
    background-color: hsl(209, 23%, 25%);
}

/* Style detail country content */
.back,
.detail-content {
    margin-inline: var(--gap-small);
}

.button {
    background-color: var(--white);
    border: none;
    cursor: pointer;
}

.back {
    box-shadow: 1px 1px 6px 2px var(--shadow-color);
    font-size: 1.4rem;
    padding: .6rem 3rem;
    margin-bottom: var(--gap-small);
    width: fit-content;
}

.button:hover {
    background-color: hsl(0, 0%, 98%);
}

.detail-content,
.detail-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-big);
}

.detail-content img {
    aspect-ratio: 3 / 2;
}

.detail-text {
    padding-bottom: var(--gap-big);
}

.detail-content h2 {
    margin-bottom: calc(-1 * var(--gap-small));
}

.detail-text p {
    line-height: 2;
}

.border-countries {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.border-countries div {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-small);
}

.border-countries button {
    box-shadow: 1px 1px 6px 1px var(--shadow-color);
    padding: .4rem 2rem;
}

/* Larger devices */
@media (min-width: 700px) {
    :root {
        font-size: 12px;
    }

    .card img {
        height: 168px;
    }

    h1 {
        font-size: 2.6rem;
    }

    .swich-mode-button {
        font-size: var(--fs-big);
    }

    input[type="search"] {
        width: 400px;
    }

    .inputs {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        margin-inline: 0;
    }

    .back {
        margin-top: var(--gap-medium);
    }

    .back,
    .detail-content {
        margin-inline: 0;
    }

    .detail-content {
        flex-direction: row;
        align-items: center;
    }

    .detail-content > img {
        width: 40%;
    }

    .detail-text {
        padding-bottom: 0;
    }
}

@media (min-width: 1100px) {
    .main-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .detail-content {
        gap: calc(2 * var(--gap-big));
    }

    .detail-text {
        display:grid;
        grid-template-areas: 
        "name name"
        "info1 info2"
        "countries countries";
    }

    .detail-text h2 {
        grid-area: name;
    }

    .detail-info:first-of-type {
        grid-area: info1;
    }

    .detail-info:nth-of-type(2) {
        grid-area: info2;
    }

    .border-countries {
        grid-area: countries;
    }
}